<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       						http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       						http://www.springframework.org/schema/context 
							http://www.springframework.org/schema/context/spring-context-3.1.xsd
							http://www.springframework.org/schema/aop 
							http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- ========================= Dependencies ==================================== -->

	<!--  Autowiring support (spring 2.5+)  -->
    <!--
        The AutowiredAnnotationBeanPostProcessor and CommonAnnotationBeanPostProcessor are both
        included implicitly when using the component-scan element.
        That means that the two components are autodetected and wired together
    -->
    <context:component-scan base-package="com.burritopos.server.rest">
    	<context:exclude-filter type="regex" expression="com\.burritopos\.server\.test\.*.class"/>
    	<context:exclude-filter type="regex" expression="com\.burritopos\.server\.*\.test\.*.class"/>
 	</context:component-scan>

	<aop:aspectj-autoproxy/>

	<!-- Import properties -->
	<context:property-placeholder location="classpath:com/burritopos/server/rest/webresource/burritoposserver.properties" ignore-unresolvable="true"/>

	<!-- OAuth -->
    <import resource="oauth.xml" />

	<!-- Activiti -->
	<import resource="activiti.xml"/>

	<!-- yammer.metrics -->
    <import resource="yammerMetrics.xml" />

	<!-- com.burritopos.server.service.dao -->
	<bean id="userSvc" class="com.burritopos.server.service.dao.mongo.UserSvcImpl" scope="singleton"/>
	<bean id="groupSvc" class="com.burritopos.server.service.dao.mongo.GroupSvcImpl" scope="singleton"/>

	<!-- com.burritopos.server.rest.identity
	<bean id="groupManager" class="com.burritopos.server.rest.identity.group.GroupManager" scope="singleton">
		<constructor-arg name="groupSvc" ref="groupSvc" />
		<constructor-arg name="userSvc" ref="userSvc" />
    </bean>
	<bean id="membershipManager" class="com.burritopos.server.rest.identity.membership.MembershipManager" scope="singleton">
    	<constructor-arg name="groupSvc" ref="groupSvc"/>
        <constructor-arg name="userSvc" ref="userSvc"/>
    </bean>
	<bean id="userManager" class="com.burritopos.server.rest.identity.user.UserManager" scope="singleton">
    	<constructor-arg name="groupSvc" ref="groupSvc"/>
        <constructor-arg name="userSvc" ref="userSvc"/>
    </bean> -->

	<!-- com.burritopos.server.rest.library -->
	<bean id="burritoServer" class="com.burritopos.server.rest.library.BurritoServer" scope="singleton"/>
	
	<!-- com.burritopos.server.rest.library.activiti -->
	<bean id="activitiSvc" class="com.burritopos.server.rest.library.activiti.WorkflowActiviti" scope="singleton"/>
	<bean id="activitiDefinitionSvc" class="com.burritopos.server.rest.library.activiti.Definition" parent="activitiSvc" scope="singleton"/>
	<bean id="activitiInstanceSvc" class="com.burritopos.server.rest.library.activiti.Instance" parent="activitiSvc" scope="singleton"/>
	<bean id="activitiUserTaskSvc" class="com.burritopos.server.rest.library.activiti.UserTask" parent="activitiSvc" scope="singleton"/>
	
	<!-- com.burritopos.server.rest.library.activiti.listener -->
	<bean id="simpleExecutionListener" class="com.burritopos.server.rest.library.activiti.listener.SimpleExecutionListener" scope="singleton"/>

	<!-- com.burritopos.server.rest.utilities -->
    <bean id="applicationContextUtils" class="com.burritopos.server.rest.utilities.ApplicationContextUtils" scope="singleton"/>

	<!-- com.burritopos.server.rest.webresource -->
	<bean id="serverService" class="com.burritopos.server.rest.webresource.ServerService" scope="singleton">
		<property name="server" ref="burritoServer" />
	</bean>
</beans>
